<cui-dialog closeButtonLabel="Close Dialog" [showClose]="true" [showFooter]="true" (close)="onClose()">
	<span mat-dialog-title dialog-header>
		{{ data.title }}
	</span>
	<cui-notification-banner *ngIf="shouldDisplaySubtitle()" dialog-sub-header type="info">
		<span [innerHTML]="data.subtitle"></span>
	</cui-notification-banner>
	<div mat-dialog-content dialog-content class="mt-xxs text-center">
		<span [innerHTML]="data.message"></span>
	</div>
	<ng-container dialog-footer>
		<button mat-flat-button color="primary" class="mr-xxs" id="btn-confirm" (click)="onConfirm()">
			{{ data.confirmText }}
		</button>
		<button *ngIf="!data.hideCancelButton" mat-stroked-button color="primary" id="btn-cancel" (click)="onCancel()">
			{{ data.cancelText }}
		</button>
	</ng-container>
</cui-dialog>