:host {
	.mat-mdc-dialog-content {
		margin: auto;
		padding: 15px;
		white-space: pre-wrap;
		text-align: center;
	}

	mat-icon {
		vertical-align: bottom;
		margin-right: 10px;
	}

	::ng-deep {
		.dialog-footer {
			justify-content: flex-end !important;
		}
	}

}
