@import 'base/variables';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.empty-state {
  &-icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: 8rem;
    height: 12rem;
    justify-content: center;
    margin: 2.4rem 0;
    width: 12rem;

    &-spacer {
      height: 12rem;
      margin: 2.4rem 0;
    }
  }

  &-primary-text {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;

    &:first-child {
      margin-top: 1.6rem;
    }
  }

  &-secondary-text,
  &-action {
    margin-bottom: 1.6rem;
  }
}