@import 'base/variables';
@import '../error-screens-base';

:host {
  font-size: 1.6rem;
  text-align: left;

  img {
    margin-right: 8rem;
    width: 35rem;
  }

  ol {
    padding: 0;
    padding-inline-start: 2rem;
  }

  li {
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  .delete-cookies-success-text {
    font-size: 1.2rem;
    margin-left: -.2rem;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;

    img {
      margin-bottom: 3.2rem;
      margin-right: 0;
      max-width: 25rem;
      width: 50%;
    }

    h1 {
      text-align: center;
    }
  }
}