@import 'base/variables';

:host {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-x: hidden;
  padding: 2rem;
  text-align: center;
}

.error-screen-container {
  font-size: 1.8rem;
  transform: translateY(-10%);
}

.error-screen-title {
  font-size: 4.8rem;
  font-weight: 300;
  margin: 0;
}

.error-icon {
	width: 50%;
	height: 50%;
}