<mat-card appearance="outlined" *ngIf="(policyQuery.policyCount$ | async) === 0" [@fadeAnim]>
	<ubi-empty-state icon="search" primaryText="Please search for a policy"
		secondaryText="Enter either the policy number or phone number to begin your search">
	</ubi-empty-state>
</mat-card>

<mat-card appearance="outlined" *ngIf="(policyQuery.hasErrors$ | async)" [@fadeAnim]>
	<ubi-empty-state svgIcon="ubi_sadcone" primaryText="Uh oh..." secondaryText="{{policyQuery.getPrimaryError()}}">
	</ubi-empty-state>
</mat-card>

<div class="p-0 overflow-x-auto"
	*ngIf="(policyQuery.hasErrors$ | async) === false && (policyQuery.policyCount$ | async) > 0" [@fadeAnim]>
	<ubi-single-policy-details *ngIf="(policyQuery.policyCount$ | async) === 1; else multiplePolicies"
		(policySelection)="setPolicy($event)">
	</ubi-single-policy-details>
	<ng-template #multiplePolicies>
		<ubi-multi-policy-details (policySelection)="setPolicy($event)"></ubi-multi-policy-details>
	</ng-template>
</div>