@use "sass:map";
@use '@angular/material' as mat;
@import '@angular/material/theming';
@import 'base/variables';
@import '../../../../../../styles/variables';

.ubi-sidenav {
  box-shadow: none;
  max-height: 100vh;
  width: $sidenav-width;

  &::ng-deep {
    .mat-drawer-inner-container {
      overflow: hidden;
      &:hover {
        overflow-y: auto;
      }
    }
  }
}

.mat-mdc-list-base[dense] .ubi-sidenav-item {
  &:hover {
    background: 0;
  }

  &:last-of-type {
    margin-bottom: .8rem;
  }
}

.mat-mdc-list-base[dense] .mat-mdc-list-item {
  font-size: 1.4rem;
}

.ubi-sidenav-link {
  border-radius: $border-radius;
  padding: .4rem;

  &.active {
    font-weight: 500;
  }
}

.mat-icon {
	margin-right: .8rem;
}
