<div id="table-interaction-description" aria-hidden="true" class="screen-reader-only">
	Press enter to select policy
</div>

<table mat-table [dataSource]="dataSource" class="cui-table">

	<ng-container matColumnDef="policyNumber">
		<th mat-header-cell colspan="2" *matHeaderCellDef>
			Policy Number
		</th>
		<td mat-cell colspan="2" *matCellDef="let policy">
			<button class="cui-link" (click)="selectPolicy(policy.policyNumber)" role="link">
				{{policy.policyNumber}}
			</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="pni">
		<th mat-header-cell colspan="2" *matHeaderCellDef>
			Driver Name
		</th>
		<td mat-cell colspan="2" *matCellDef="let policy">
			{{policy.participants[0].driver.firstName}} {{policy.participants[0].driver.lastName}}
		</td>
	</ng-container>

	<ng-container matColumnDef="participantStatus">
		<th mat-header-cell colspan="2" *matHeaderCellDef>
			Participant Status
		</th>
		<td mat-cell colspan="2" *matCellDef="let policy">
			{{policy.extenders?.ParticipantStatus}}
		</td>
	</ng-container>

	<ng-container matColumnDef="mobileStatus">
		<th mat-header-cell colspan="2" *matHeaderCellDef>
			Mobile Registration Status
		</th>
		<td mat-cell colspan="2" *matCellDef="let policy">
			{{policy.extenders?.MobileRegistrationStatus}}
		</td>
	</ng-container>

	<ng-container matColumnDef="select" sticky>
		<th mat-header-cell class="cui-cell-16 cui-cell-border-right" *matHeaderCellDef colspan="1">
		</th>
		<td mat-cell class="cui-cell-16 cui-cell-actions cui-cell-border-right" colspan="1" *matCellDef="let policy">
			<button mat-flat-button color="primary" (click)="selectPolicy(policy.policyNumber);" aria-label="Select policy">
				Modify Data
			</button>
		</td>
	</ng-container>

	<!-- 	<ng-container matColumnDef="arrow">
		<th aria-hidden="true" mat-header-cell class="cui-cell-4 px-bl-2 text-center" *matHeaderCellDef>
		</th>
		<td aria-hidden="true" mat-cell class="cui-cell-4 px-bl-2 text-center text-gray" *matCellDef="let element">
			<div class="flex justify-center items-center">
				<mat-icon>navigate_next</mat-icon>
			</div>
		</td>
	</ng-container>
 -->
	<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
	<tr mat-row tabindex="0" [ngClass]="'cui-row-selectable' + (selectedIndex === i ? ' cui-row-active' : '')"
		aria-describedby="table-interaction-description" (click)="selectRow(i)" (keydown.enter)="selectRow(i)"
		(keydown.space)="selectRow(i)" *matRowDef="let i = index; let element; let row; columns: displayedColumns;">
	</tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>