<ul class="flex items-center w-full">
	<li>
		<span class="text-sm cui-label mr-bl-1 policy-label">Policy Number</span>
		<a class="text-base underline cui-link" [routerLink]="portalLink"
			aria-label="Open policy details">{{(policyQuery.workingPolicyNumber$ | async)}}</a>
	</li>
</ul>
<ul class="flex items-center w-full">
	<li>
		<span class="text-sm cui-label slot-label">Slot Name</span>
		<a class="text-base" [ngStyle]="{'font-style': (policyQuery.slot$ | async)===''? 'italic' : 'normal'}"
			aria-label="Slot name"
			layout-align="end center">{{(policyQuery.slot$ | async)===""?"No slot":(policyQuery.slot$ | async)}}</a>
	</li>
</ul>