<cui-dialog closeButtonLabel="Close Dialog" [showClose]="true" [showFooter]="true" (close)="onClose()">
	<span mat-dialog-title dialog-header>
		{{ data.title }}
	</span>
	<cui-notification-banner *ngIf="shouldDisplaySubtitle()" dialog-sub-header type="info">
		<span [innerHTML]="data.subtitle"></span>
	</cui-notification-banner>
	<div mat-dialog-content dialog-content class="mt-xxs">
		<form #dialogForm="ngForm">
			<div *ngIf="loaded">
				<ng-container *ngComponentOutlet="data.component; injector: contentInjector"></ng-container>
			</div>
		</form>
	</div>
	<ng-container dialog-footer>
		<button mat-flat-button color="primary" class="mr-xxs" id="btn-confirm" (click)="onConfirm()" [disabled]="dialogForm.invalid">
			{{ data.confirmText }}
		</button>
		<button mat-stroked-button color="primary" id="btn-cancel" (click)="onCancel()">
			{{ data.cancelText }}
		</button>
	</ng-container>
</cui-dialog>