@use "sass:map";
@use "@angular/material" as mat;

@mixin sidenav-theme($theme) {
	$color-config: mat.get-color-config($theme);
	$accent: map.get($color-config, 'accent');
	$primary: map.get($color-config, 'primary');
	$is-dark: map.get($color-config, 'is-dark');
	$is-high-contrast: map.get($color-config, 'is-high-contrast');

	.ubi-sidenav-link {
		color: inherit;

		@if $is-high-contrast {
			transition: none !important;

			&:focus,
			&.active {
				background-color: mat.get-color-from-palette($accent) !important;
				color: $black;
			}
		}

		@else {

			&:focus,
			&.active {
				background-color: mat.get-color-from-palette($primary, 0.12) !important;
			}

			&.active {
				color: mat.get-color-from-palette($primary, if($is-dark, 200, darker));
			}

			&:hover {
				background-color: mat.get-color-from-palette($primary, .04) !important;
			}
		}
	}
}